body{
    background-image: url(images/PictureOfVideogames.png);
    background-size: 3000px;
    background-position-x: center;
}

.navi{
    padding-left: 0;
    list-style: none;
    width: 50%;
    margin: auto;
    text-align: center;
    background-color: rgb(173, 28, 28);
}

.navi li{
    display: inline-block;
    border: 3px outset;
    font-size: 100px;
}

.navi li a{
    
    color: white;
    font-size: 50px;
    font-size: 75px;
    text-decoration: none;
}

.consoles1:hover{
    background-image: url(images/PictureOfGameConsoles.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.home1:hover{
    background-image: url(images/PictureOfHome.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.equiptment1:hover{
    background-image: url(images/PictureOfGamerEquipment.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.videogames1:hover{
    background-image: url(images/pictureOfVideogames2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}



article{
    border-width: thick;
    border-bottom: black;
    background-color: white;
    align-items: baseline;
    margin: auto;
}

 .games{
    display: inline-block;
    position: absolute;

}

hr{
    
    margin-top: 50px;
}
.title{
    text-align: center;
    background-color: white;
    font-size: 75px;
    margin: auto;
    margin-top: 200px;
    margin-bottom: 100px;
}
.phrase{
    text-align: center;
    background-color: white;
    font-size: 100px;
    margin: auto;
    margin-bottom: 309px;
}

.videogames div{
    margin-top: 100px;
    
}



button a{
    text-decoration: none;
    
}
